.footer {
  text-align: center;
}

.footer-list__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-list__item:last-child {
  margin-top: 30px;
}
.footer-list__item:nth-child(2) {
  margin-top: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
}
.footer-list__link {
  color: #111518;
}
.footer-list__link--insta {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url(/instagram.svg);
}
.icon__phone {
  margin-right: 10px;
}
